<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">

				<h2 class="card-title fb-blue">
					<i class="fa fa-share"></i>
					<span>Share A Post</span>
				</h2>

				<h6 class="card-subtitle">Have your facebook publication shared by many other facebook users!</h6>

				<button class="btn btn-info" (click)="openModal(Shares)">Get Started!</button>

				<!--Begin Shares Modal-->
				<ng-template #Shares let-c="close" let-d="dismiss">
					<div class="modal-header">
						<h3 class="card-title">Share A Post</h3>
						<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<!--<h4 class="modal-title">Buy Shares</h4>-->
							<label>Facebook Post URL:</label>
							<input #url ng-model="url" type="text" id="url" class="form-control" placeholder="http:// url facebook" required/>
						</div>
						<label>Number of Shares:</label>
						<input #shares ng-model="shares" type="number" id="shares" class="form-control" placeholder="example 10" required/>
					</div>

					<div class="modal-footer">
						<!--<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>-->
						<button type="button" class="btn btn-success" (click)="verifyUrl(url.value)">Preview Post</button>
						<button type="button" class="btn btn-secondary" (click)="beginSharing(url.value,shares.value)">Begin Sharing</button>
					</div>

				</ng-template>
				<!--End Shares Modal-->

			</div>
		</div>

	</div>

	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">My Orders</h4>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Network</th>
								<th>service</th>
								<th>url</th>
								<th class="text-nowrap">quantity</th>
								<th class="text-nowrap">process</th>
							</tr>
						</thead>
						<tbody *ngFor="let types of type  "> 
							<tr *ngFor="let buys of buys  ">
								<td align='center'><i class="fa fa-facebook-square fa-lg"  style="color:#4267b2"></i></td>
								<td>
									{{buys.service.name}}
								</td>
								<td>{{buys.url}}</td>
								<td class="text-nowrap">
									{{buys.quantity}}
								</td>
								<td> 
									{{buys.progress}} 
								</td>
							</tr> 
						</tbody>
					</table> 
				</div>
			</div>
		</div>
	</div>
</div>