<div class="row">
  <div class="col-md-3">
		<div class="card">
			<div class="card-body">

        <h2 class="card-title fb-blue">
					<i class="fa fa-share"></i>
          <span>Share A Post</span>
        </h2>

				<h6 class="card-subtitle">Have your facebook publication shared by many other facebook users!</h6>

        <button class="btn btn-info" (click)="openModal(Shares)">Get Started!</button>

        <!--Begin Shares Modal-->
				<ng-template #Shares let-c="close" let-d="dismiss">
					<div class="modal-header">
						<h3 class="card-title">Share A Post</h3>
						<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<!--<h4 class="modal-title">Buy Shares</h4>-->
							<label>Facebook Post URL:</label>
							<input #url ng-model="url" type="text" id="url" class="form-control" placeholder="http:// url facebook" required/>
						</div>
						<!--<label>Number of Shares:</label>-->
						<!--<input #shares ng-model="shares" type="number" id="shares" class="form-control" placeholder="example 10" required/> -->
          </div>

					<div class="modal-footer">
						<!--<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>-->
            <button type="button" class="btn btn-success" (click)="verifyUrl(url.value)">Preview Post</button>
						<button type="button" class="btn btn-secondary" (click)="beginSharing(url.value)">Begin Sharing</button>
					</div>
				</ng-template>
        <!--End Shares Modal-->

			</div>
		</div>

	</div>

	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">My Orders</h4>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>URL</th>
								<th>Progress</th>
								<th>Date</th>
								<th class="text-nowrap">Status</th>
							</tr>
						</thead>
						<tbody *ngFor="let user of buy ">

							<tr>
								<td>{{userName}}</td>
								<td>
									<div class="progress progress-xs margin-vertical-10 ">
										<div class="progress-bar bg-warning" style="width: 50%; height:6px;"></div>
									</div>
								</td>
								<td>November 22, 2017</td>
								<td class="text-nowrap">
									In Progress
								</td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>
