<div class="row">
                   
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Responsive Table </h4>
                                <h6 class="card-subtitle">Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive </code></h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>photo</th>
                                                <th>User</th>
                                                <th>Date</th>
                                                <th>Friends</th>
                                                <th>Status</th>
                                                <th>shared</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let notification of dataNotification ">
                                            <tr>
                                                <td><a><img src="{{notification.photo}}" alt="user-img" class="img-circle"> </a></td>
                                                <td> {{notification.user}}  </td>
                                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                                                <td>{{notification.friends}}</td>
                                                <td>
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </td>
                                                
                                            </tr>
                                      
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   