<div class="row"> 
    <div class="col-12">
      
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Available Jobs </h4>
                <h6 class="card-subtitle"> 
                 
                </h6>
               
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr><th>#</th>
                                <th>Publisher</th>
                                <th>network</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Quantity</th>
                                <th>Progress</th>
                                <th>Preview</th>
                                <th>shared</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let types of type  ">
                          
                            <tr *ngFor="let buys of buys  "      >
                                    <td align="center" *ngIf="buys.buyer.id != smi.id"  >  <span  class="round">{{ buys.buyer.name.slice(0, 1)  }} </span> </td>
                                <td align="center" *ngIf="buys.buyer.id != smi.id"><div *ngIf=" buys.buyer.avatar " ><img src="{{ buys.buyer.avatar  }}" alt="user" height="30" width="30" /> </div> 
                                    <div *ngIf=" !buys.buyer.avatar " ><img src="assets/images/users/1.jpg" alt="user" height="30" width="30" /> </div>{{ buys.buyer.name }}</td>
                                <td *ngIf="buys.buyer.id != smi.id">  <i class="fa fa-facebook-square fa-lg" style="color:#4267b2"></i>  {{ buys.service.name }}  </td>
                                <td *ngIf="buys.buyer.id != smi.id">{{ buys.created_at }}</td>
                                <td *ngIf="buys.buyer.id != smi.id"> 
                                    <span  *ngIf=" buys.is_complete === 0" class="label label-success">Pending</span>
                                    <span *ngIf=" buys.is_complete === 1" class="label label-danger">Full</span>
                                </td>
                            
                                <td align="center" *ngIf="buys.buyer.id != smi.id"> {{ buys.quantity }}</td>
                                <td *ngIf="buys.buyer.id != smi.id" >  <p><ngb-progressbar type="info"   [value]="(buys.progress * 100 ) / buys.quantity" [striped]="true" [animated]="true"><i>{{buys.progress}}</i></ngb-progressbar></p>    </td>
                                
                                <td *ngIf="buys.buyer.id != smi.id">  
                                        
                                    <button type="button" class="btn btn-outline-success" (click)="verifyUrl(buys.url)" >  Preview </button>
                               

                                </td>
                                    <td *ngIf="buys.buyer.id != smi.id">  
                                        
                                    <button type="button" class="btn btn-outline-info" (click)="actionFacebook(buys.url,buys.id,buys.buyer.id)" >   To Job </button>
                               

                                </td>
  
                            </tr>
                             
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>